@import url(/assets/css/root.css);

.max-width-447 {
    max-width: 447px;
}

.max-width-555 {
    max-width: 555px;
}

.p-30 {
    padding: 30px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.heading-of-section-one {
    font-family: var(--ff-rubik);
    font-size: var(--fs--35);
    font-weight: var(--fw--500);
    line-height: var(--lh--50);
    text-align: center;
}

.sub-heading-of-section-one {
    font-family: var(--ff-rubik);
    font-size: var(--fs--16);
    font-weight: var(--fw--400);
    line-height: var(--lh--30);
    text-align: center;
    color: var(--c-light-grey);
}

.card-slick {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 400px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
}

.profile-pic-sec-one {
    width: 50px;
    height: 50px;
}

.gap-5ty {
    gap: 50px;
}

.name-of-profile-pic-sec-one {
    font-family: var(--ff-rubik);
    font-size: var(--fs--18);
    font-weight: var(--fw--500);
    text-align: center;
}

.sub-name-of-profile-piv-sec-one {
    font-family: var(--ff-rubik);
    font-size: var(--fs--14);
    font-weight: var(--fw--400);
    color: var(--c-light-grey);
}

.rating {
    font-family: var(--ff-rubik);
    font-size: var(--fs--16);
    font-weight: var(--fw--400);
    line-height: var(--lh--30);
    text-align: left;
    color: var(--c-blue-black);
}

.content-card-slick-sec-one {

    font-family: var(--ff-rubik);
    font-size: var(--fs--16);
    font-weight: var(--fw--400);
    line-height: var(--lh--30);
    text-align: left;
    color: var(--c-blue-black);
}

.slick-dots {
    width: 15px;
    height: 15px;
    color: #DDE0E4;
    display: flex;
}

.slick-dots li.slick-active button:before {
    width: 45px;
    height: 15px;
    border-radius: 26px;
    background: #F53838;
}

.cursor-pointer {
    cursor: pointer;
}

.prev {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;
    transition: all .5s linear;
}
.prev:hover{
    background: #F53838;
}
.prev:hover svg path {
    fill: white;

}
.next {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;
    transition: all .5s linear;
}
.next:hover {
    background: #F53838;
}

.next:hover svg path {
    fill: white;

}